<div class="weather-search">
  <input type="text" [(ngModel)]="cityName" placeholder="Πληκτρολόγησε πόλη" />
  <button (click)="searchCity()">Αναζήτηση</button>
</div>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

<div *ngIf="weatherData" class="weather-result">
  <h2>{{ weatherData.name }}</h2>
  <p>Θερμοκρασία: {{ (weatherData?.main?.temp - 273.15) | number:'1.0-1' || undefined}} °C</p>
  <p>Υγρασία: {{ weatherData?.main?.humidity || undefined }}%</p>
  <p>Καιρός: {{ weatherData?.weather[0]?.description || undefined}}</p>
  <!-- <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0]?.icon + '@2x.png'" alt="weather icon" /> -->
</div>
